@tailwind base;
@tailwind components;
@tailwind utilities;

html body {
  overscroll-behavior: contain;
  scroll-behavior: smooth;
  font-family: 'MavenPro';
}

::-webkit-scrollbar {
  @apply w-1 hidden;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 12px;
  @apply rounded-xl bg-black;
}

.animate-paused {
  animation-play-state: paused;
}

.animate-running {
  animation-play-state: running;
}

@keyframes small-rotation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(0);
  }
}
